@font-face {
    font-family: 'bugaki';
    src: url('fonts/Bugaki.ttf');
}

@font-face {
    font-family: poppins;
    src: url('fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: open-sans;
    src: url("fonts/OpenSans_Regular.ttf");
}

body {
    background-color: #690000;
    color: white;
    text-align: justify-all;
    font-family: sans-serif;
}

.header {
    padding: 10px 0 0 10px;
    font-family: bugaki, sans-serif;
    height: 70px;
}

.icon {
    display: inline-block;
    height: 50px;
}

.title {
    display: inline-block;
    text-align: left;
    color: white;
}

.livros {
    display: inline-block;
    text-align: center;
    padding: 0 25px 0 25px
}

.titulo {
    margin: 0 0 0 0;
    font-family: poppins, sans-serif;
}

.autor {
    opacity: 0.5;
    margin: 0 0 0 0;
    font-family: poppins, sans-serif;
}

.pagina {
    color: #690000;
    background-color: white;
    margin-right: 3px;
    padding: 5px;
    border-radius: 50px;
}

.editarLivro {
    align-content: center;
}

.fa {
    color: #690000;
    background-color: white;
    padding: 5px;
    border-radius: 100px;
}

.drawer{
    background-color: black;
    color: white;
    position: absolute;
    height: 100vw;
    width: 25%;
    top: 0;
    left: -25%;


    img{
        rotate: 90deg;

    }
}

.Parent {
    display: flex;
    flex-direction: row;
}

.coluna1 {
    width: 50%;
    text-align: right;
    color: white;
    padding: 0 15px 0 0;
}

.coluna2 {
    width: 50%;
    text-align: justify-all;
}

.form_text {
    margin: 1.2em 0 0 0;
}

.form_input {
    margin: 1em 0 0 0;
}
